@{
    ViewData["Title"] = "Home Page";
}


<div>
    <h1 style="text-align:center">Welcome to CHR-DataGrab.</h1>
    <br />
    <p>
        To get started, please navigate to the Upload page by clicking the link above. Once there, click the Choose File button and navigate to the desired County Health Rating File. After selecting a file, 
        wait for the Parsing Complete message to appear and then press Upload. After uploading the file, please reference the CHR-DataMove section of the documentation to get the file to display in CHR-Plot.
    </p>
</div>


@section scripts{ 
   
}